<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista de Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="item item-­input item-­search">
      <i class="icon ion-­android -search placeholder-­icon icon-­search"></i>
      <input type="search" placeholder="Nome do produto.">
      <br>
      <button>
        <ion-icon name="add-circle"></ion-icon>
        <strong>ADICIONAR</strong>
      </button>
    </div>
  
  <!-- Checkboxes in a List -->
  <ion-list>
    <ion-item *ngFor="let entry of form">
      <ion-label>{{entry.val}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>