ion-toolbar{
    background-color: #ffffff;
}

h1 {
    margin-top: 50px;
    text-align: center;
}
p {
    margin-top: 25px;
    text-align: center;
}

ion-img {
    margin-top: 100px;
    height: 200px;
}

div {
    font-size: larger;
    background: #ffffff;
    color: black;
}
